<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="PoliceDepartmentSystem.Properties.Settings.testConnectionString"
            connectionString="Data Source=DESKTOP-I0ICH35;Initial Catalog=test;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="PoliceDepartmentSystem.Properties.Settings.Police_Depart_SystemConnectionString"
            connectionString="Data Source=DESKTOP-I0ICH35;Initial Catalog=Police_Depart_System;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>